
<div class='card'>
  <div class='card-header inline'>
    {{trackPageTitle}}
    <app-search
      (searchClicked)='onSearchClicked($event)'>
    </app-search>
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table'
      *ngIf = 'tracks && tracks.length'>  <!--If tracks array is empty then table is not displayed-->
        <thead>
          <tr>
            <th>name</th>
            <th>artist</th>
            <th>image</th>
            <th>Add Track</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let currentTrack of tracks'>
              <td>
                {{currentTrack.name}}
              </td>
              <td>{{currentTrack.artist}}</td>
              <td><img 
                [src] = 'currentTrack["image"][1]["#text"]'
                [title] = 'currentTrack.artist'
                [style.width.px]= 'imageWidth'
                [style.margin.px]= 'imageMargin'>
              </td>
              <td>
                <button class='btn btn-primary'
                (click)='addTrackButtonClicked(currentTrack.listeners,currentTrack.name,currentTrack.artist)'>           
                  Add Track
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>